body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(20, 17, 39);
}

#calculator {
    background-color: #5fb485;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid #150606;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 48px;
    height: 48px;
    margin: 5px;
    font-size: 18px;
    border: 1px solid #310101;
    border-radius: 4px;
    cursor: pointer;
}

button.operator {
    background-color: #f0f0f0;
}

button.equal {
    background-color: #075e68;
    color: #fff;
}

button.clear {
    background-color: #dc3545;
    color: #fff;
}